<button mat-raised-button class="formatedButton" (click)="CreateNewTeam()">New Team</button>
<button mat-raised-button class="formatedButton" (click)="DeleteTeams()">Delete Teams</button>

<div class="box is-fluid columns is-multiline is-centered">
    <div *ngFor="let team of Teams" class="column is-narrow">
        <button mat-raised-button class="formatedButton" (click)="CreateNewPlayer(team.ID)">New Player</button>
        <button mat-raised-button class="formatedButton" (click)="DeletePlayers(team.ID)">Delete Players</button>
        <mat-checkbox type="checkbox" [(ngModel)]="team.Checked"></mat-checkbox>
        <ag-grid-angular
            style="height: 180px; width: 480px;"
            class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event, team.ID)">
        </ag-grid-angular>
    </div>
</div>