<div class="box is-fluid columns is-multiline">
    <div class="column is-125px field">
        <label class="label is-small">Paid Today</label>
        <div class="control">
          <input class="input" type="text" readonly [ngModel]="LeaguePaidToday" name="paidToday" placeholder="paid today">
        </div>
    </div>
    <div class="column is-125px field">
        <label class="label is-small">Paid To Date</label>
        <div class="control">
          <input class="input" type="text" readonly [ngModel]="LeaguePaidToDate" name="paidToDate" placeholder="paid to date">
        </div>
    </div>
    <div class="column is-125px field">
        <label class="label is-small">Paid To Lanes</label>
        <div class="control">
          <input class="input" type="text" readonly [ngModel]="LeaguePaidToLanes" name="paidToLanes" placeholder="paid to lanes">
        </div>
    </div>
    <div class="column is-125px field">
        <label class="label is-small">Owed To Lanes</label>
        <div class="control">
          <input class="input" type="text" readonly [ngModel]="LeagueOwedToLanes" name="owedToLanes" placeholder="owed to lanes">
        </div>
    </div>
    <div class="column is-125px field">
        <label class="label is-small">Prize Money</label>
        <div class="control">
          <input class="input" type="text" readonly [ngModel]="LeaguePrizeMoney" name="prizeMoney" placeholder="prize money">
        </div>
    </div>
</div>

<div class="box is-fluid columns is-multiline is-centered">
    <div *ngFor="let team of Teams" class="column is-narrow">
        <ag-grid-angular
            style="height: 180px; width: 480px;"
            class="ag-theme-balham"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            (gridReady)="onGridReady($event, team.ID)">
        </ag-grid-angular>
    </div>
</div>