.is-125px{
    max-width: 125px;
}

.box.headers{
    background: var(--cardBackGround);
    & label{
        color: var(--cardHeadline);
    }
}

.box:not(.headers){
    background: var(--background);
}

::ng-deep ag-grid-angular{
    .no-payment {
        background-color: var(--button);
    }
    
    .some-payment {
        background-color: var(--tertiary);
    }
}

.readonly-input{
    cursor: default;
}